<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hhgz.wage.mysql.mapper.AttendanceTimeMapper">

    <resultMap id="BaseResultMap" type="com.hhgz.wage.mysql.table.AttendanceTime">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="day" column="day" jdbcType="INTEGER"/>
            <result property="hour" column="hour" jdbcType="INTEGER"/>
            <result property="minute" column="minute" jdbcType="INTEGER"/>
            <result property="lunchDec" column="lunch_dec" jdbcType="INTEGER"/>
            <result property="insertTime" column="insert_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,day,
        hour,minute,lunch_dec,
        insert_time
    </sql>
</mapper>
